/* =================================
   MAIN LAYOUT
   ================================= */
   .container {
    display: flex;
    min-height: 100vh;
    padding: 20px;
}

/* =================================
   RESPONSIVE LAYOUT
   ================================= */
@media (max-width: 1365px) {
    .container {
        flex-direction: column;
    }
    .form-container, .preview-container {
        width: auto;
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .container {
        padding: 40px;
    }
}