.printPageWrapper {
  min-height: 100vh;
  padding: 20px;
}

.templateContainer {
  display: flex;
  justify-content: center;
}

.printControls {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

@media print {
  @page {
    size: letter;
    margin: 0;
  }

  body * {
    visibility: hidden;
  }

  .templateContainer,
  .templateContainer * {
    visibility: visible;
  }

  .templateContainer {
    position: absolute;
    top: 0;
    left: 0;
  }
}
